body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: chartreuse;
}
form {
    display: inline-table;
    color: brown;
}
h2 {
    color: darkorchid;
}
h1 {
    color: deeppink;
}